# macOS
.DS_Store

# Игнорировать бинарные файлы и исполняемые файлы
*.exe
*.dll
*.so
*.dylib

# Игнорировать бинарные файлы Go
*.exe
*.test
*.prof
*.out
/dist

# Игнорировать файлы конфигурации Go
/.idea
/.vscode

# Игнорировать временные файлы
*.tmp
*.log

# Игнорировать файлы, созданные в процессе сборки проекта
/bin
/vendor


.gitignore